.App {
  text-align: center;
}

@font-face {
  font-family: Scrapies;
  src: url(./Assets/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: Scrapies-bold;
  src: url(./Assets/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: Scrapies-boldItalic;
  src: url(./Assets/fonts/CaviarDreams_BoldItalic.ttf);
}

@font-face {
  font-family: Scrapies-italic;
  src: url(./Assets/fonts/CaviarDreams_Italic.ttf);
}

@font-face {
  font-family: Scrapies-AA;
  src: url(./Assets/fonts/Acoustic.otf);
}

body {
  font-family: 'Scrapies';
}

.title-text {
  font-family: 'Scrapies-AA', sans-serif;
}

.prim-color {
  color: #F8BEA8 !important;
}

.secondary-color {
  color: #3D3D6B !important;
}

.tertiary-color {
  color: #E7D2E5 !important;
}

.quaternary-color {
  color: #B4C3D3 !important;
}

.quinary-color {
  color: #F4F2E4 !important;
}

.prim-bg {
  background-color: #F8BEA8 !important;
}

.secondary-bg {
  background-color: #3D3D6B !important;
}

.tertiary-bg {
  background-color: #E7D2E5 !important;
}

.quaternary-bg {
  background-color: #B4C3D3 !important;
}

.quinary-bg {
  background-color: #F4F2E4 !important;
}
